img {
    image-rendering: auto;
}
#gameboard {
    background-image: url('../images/board.png');
    background-repeat: repeat;
    position: absolute;
    opacity: 0.5;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

body {
    background-color: green;
    width: 100%;
    height: 100%;
}

#gamewindow {
    background-color: red;
    width: 100%;
    height: 100%;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px;
    position: relative;
    
    
}
.movePlaceholder {
    background-color: blue;
    opacity: 0.2;
    z-index: 20;
}
.movePlaceholder:hover{
    opacity: 0.5;
    
}