
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    image-rendering: auto;
}
#gameboard {
    
    position: absolute;
    /* opacity: 0.5; */
    
}

#gamewindow {
    background: red;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px;
    position: relative;
    overflow: hidden;
    
}

#info-header {
    text-align: center;
    color: white;
    font-size: 1em;
}

.infoblock {
    display: inline-block;
    margin: 1em 1em;
}

.infotext {
    text-align: right;
}

#info-header .lable {
    text-align: left;
}

.backdrop {
    background-color:#f7d688;
    background-image: url('images/board.png');
    background-image:  url("data:image/svg+xml;charset=utf8,\
            %3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' fill='rgb(197, 117, 14)' fill-opacity='1' %3E\
            %3Crect x='1' width='1' height='1'  /%3E\
            %3Crect y='1' width='1' height='1' /%3E\
            %3C/svg%3E"
        );
    background-position: 0 0;
    background-repeat: repeat;
    position: absolute;
    z-index: 0;
}

body {
    width: 100%;
    height: 100%;
    background: green;
background-size: 30px 30px;
  background-size: 20px 20px;
  background-position: 0 0;
}


.movePlaceholder {
    background-color: #444;
    opacity: 0.2;
    z-index: 20;
}
.movePlaceholder.active {
    background-color: blue;
    
}

.movePlaceholder.selected {
    background-color: green;
    
}
.movePlaceholder:hover{
    opacity: 0.5;
    
}

#gameboard.anim {
  transition: transform 250ms ease-in-out;
}