img {
    image-rendering: auto;
}
#gameboard {
    
    position: absolute;
    /*opacity: 0.5;*/
    
}

#info-header {
    text-align: center;
    color: white;
    font-size: 2em;
}

.infobloc {
    display: inline-block;
    margin: 1em 2em;
}

.infotext {
    text-align: right;
}

#info-header .lable {
    text-align: left;
}

.backdrop {
    background-image: url('../images/board.png');
    background-repeat: repeat;
    position: absolute;
    z-index: 0;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

body {
    background-color: green;
    width: 100%;
    height: 100%;
}

#gamewindow {
    background-color: red;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px;
    position: relative;
    overflow: hidden;
    
}
.movePlaceholder {
    background-color: blue;
    opacity: 0.2;
    z-index: 20;
}
.movePlaceholder:hover{
    opacity: 0.5;
    
}